# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.ko

#tmp files
*.swp
*.bak

#unknown crap
*.cmd
de0/db/*
de0/greybox_tmp/*
de0/incremental_db/
de0/output_files/
de0/simulation/
